<style>
/* 별점 */
.rating {
	float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
.rating:not (:checked ) >input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rating:not (:checked ) >label {
	float: right;
	width: 1em;
	/* padding:0 .1em; */
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 300%;
	/* line-height:1.2; */
	color: #ddd;
}

.rating:not (:checked ) >label:before {
	content: '★ ';
}

.rating>input:checked ~ label {
	color: #f7e411;
}

.rating:not (:checked ) >label:hover, .rating:not (:checked ) >label:hover 
	 ~ label {
	color: #f7e411;
}

.rating>input:checked+label:hover, .rating>input:checked+label:hover ~
	label, .rating>input:checked ~ label:hover, .rating>input:checked ~
	label:hover ~ label, .rating>label:hover ~ input:checked ~ label {
	color: #f7e411;
}

.rating>label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

/*모달검색*/
.active-pink-2

























input
















































[
type
=
text
]
















































:focus
















































:not

























(
[
readonly
]

























)
{
border-bottom
















































:

























1
px

























solid

























#f48fb1
















































;
box-shadow
















































:

























0
1
px

























0
0
#f48fb1
















































;
}
.active-pink input[type=text] {
	border-bottom: 1px solid #f48fb1;
	box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2

























input
















































[
type
=
text
]
















































:focus
















































:not

























(
[
readonly
]

























)
{
border-bottom
















































:

























1
px

























solid

























#ce93d8
















































;
box-shadow
















































:

























0
1
px

























0
0
#ce93d8
















































;
}
.active-purple input[type=text] {
	border-bottom: 1px solid #ce93d8;
	box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2

























input
















































[
type
=
text
]
















































:focus
















































:not

























(
[
readonly
]

























)
{
border-bottom
















































:















1
px















solid















#4dd0e1















;
box-shadow















:















0
1
px















0
0
#4dd0e1















;
}
.active-cyan input[type=text] {
	border-bottom: 1px solid #4dd0e1;
	box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa {
	color: #4dd0e1;
}

.active-purple .fa, .active-purple-2 .fa {
	color: #ce93d8;
}

.active-pink .fa, .active-pink-2 .fa {
	color: #f48fb1;
}
</style>